

ul li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
ul li:hover {
}
ul li ul {
  left: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}
ul li ul li { 
  display: block; 
}
ul li ul li:hover {}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}